Repository Arch666Angel/mods, pull requests merged in 2020-09, with the labels that each got.

#391 Deactivate rotation for Jax tank
  angelsaddons-storage/changelog.txt
  angelsaddons-storage/info.json
  angelsaddons-storage/prototypes/buildings/basic-storage.lua
Labels: Angels Addon, Impact: Bug

#392 Make tech prereq contiguous
  angelsindustries/prototypes/overrides/global-tech-cleanup.lua
Labels: Angels Industries, Impact: Enhancement

#388 New map message
  angelsrefining/changelog.txt
  angelsrefining/control.lua
  angelsrefining/locale/en/ore-refining.cfg
  angelsrefining/locale/en/welcome-message.cfg
Labels: Angels Refining, Impact: Bug
