Repository Arch666Angel/mods, pull requests merged in 2020-03, with the labels that each got.

#63 Bugfixes and changes for bonus interface
  angelsexploration/changelog.txt
  angelsexploration/data.lua
  angelsexploration/graphics/technology/refined-biological.png
  angelsexploration/info.json
  angelsexploration/locale/en/exploration.cfg
  angelsexploration/prototypes/entities/ammo-bio.lua
  angelsexploration/prototypes/entities/bio-gun.lua
  angelsexploration/prototypes/entities/biter-builder.lua
  angelsexploration/prototypes/exploration-category.lua
  angelsexploration/prototypes/exploration-override.lua
  angelsexploration/prototypes/technology/exploration-technology.lua
  angelsexploration/prototypes/technology/refined-biological.lua
Labels: Angels Exploration, Enhancement

#87 Dev bio balancing
  angelsbioprocessing/changelog.txt
  angelsbioprocessing/data.lua
  angelsbioprocessing/graphics/icons/alien-processed-meat.png
  angelsbioprocessing/graphics/icons/biter-crown.png
  angelsbioprocessing/info.json
  angelsbioprocessing/locale/en/bio-processing.cfg
  angelsbioprocessing/prototypes/bio-processing-category.lua
  angelsbioprocessing/prototypes/bio-processing-override.lua
  angelsbioprocessing/prototypes/buildings/bio-press.lua
  angelsbioprocessing/prototypes/buildings/bio-processor.lua
  angelsbioprocessing/prototypes/buildings/crop-farm.lua
  angelsbioprocessing/prototypes/buildings/hatchery.lua
  angelsbioprocessing/prototypes/buildings/nutrient-extractor.lua
  angelsbioprocessing/prototypes/buildings/refugium.lua
  angelsbioprocessing/prototypes/items/bio-refugium-biter.lua
  angelsbioprocessing/prototypes/items/bio-refugium-fish.lua
  angelsbioprocessing/prototypes/items/bio-refugium.lua
  angelsbioprocessing/prototypes/recipes/bio-processing-algae.lua
  angelsbioprocessing/prototypes/recipes/bio-processing-alien-crystal.lua
  angelsbioprocessing/prototypes/recipes/bio-processing-alien.lua
  angelsbioprocessing/prototypes/recipes/bio-refugium-biter.lua
  angelsbioprocessing/prototypes/recipes/bio-refugium-fish.lua
  angelsbioprocessing/prototypes/recipes/bio-refugium-puffer.lua
  angelsbioprocessing/prototypes/recipes/bio-refugium.lua
  angelsbioprocessing/prototypes/recipes/crop-farming-processing-nutrients.lua
  angelsbioprocessing/prototypes/recipes/crop-farming-processing-vegetables.lua
  angelsbioprocessing/prototypes/recipes/crop-farming-vegetables.lua
  angelsbioprocessing/prototypes/technology/bio-processing-alien.lua
  angelsbioprocessing/prototypes/technology/bio-refugium.lua
Labels: Angels Bio Processing

#62 I58 Waste Water Processing Fix
  angelspetrochem/changelog.txt
  angelspetrochem/info.json
  angelspetrochem/locale/en/petrochem.cfg
  angelspetrochem/prototypes/items/petrochem-solids.lua
  angelspetrochem/prototypes/recipes/petrochem-nitrogen.lua
  angelspetrochem/prototypes/recipes/petrochem-sodium.lua
  angelspetrochem/prototypes/technology/petrochem-technology.lua
  angelsrefining/changelog.txt
  angelsrefining/info.json
  angelsrefining/prototypes/items/water-treatment-items.lua
  angelsrefining/prototypes/override/refining-override-water-treatment.lua
  angelsrefining/prototypes/recipes/water-treatment-recipes.lua
  angelsrefining/prototypes/technology/water-treatment-technology.lua
Labels: Angels Petrochem, Enhancement
