Repository Arch666Angel/mods, pull requests merged in 2020-05, with the labels that each got.

#211 First Draft of Nuclear Updates
  angelsindustries/changelog.txt
  angelsindustries/data.lua
  angelsindustries/graphics/entity/centrifuge/centrifuge-A-light.png
  angelsindustries/graphics/entity/centrifuge/centrifuge-B-light.png
  angelsindustries/graphics/entity/centrifuge/centrifuge-C-light.png
  angelsindustries/graphics/entity/centrifuge/hr-centrifuge-A-light.png
  angelsindustries/graphics/entity/centrifuge/hr-centrifuge-B-light.png
  angelsindustries/graphics/entity/centrifuge/hr-centrifuge-C-light.png
  angelsindustries/graphics/icons/americium-241.png
  angelsindustries/graphics/icons/curium-245.png
  angelsindustries/graphics/icons/deuterium-fuel-cell.png
  angelsindustries/graphics/icons/fusion-catalyst.png
  angelsindustries/graphics/icons/neptunium-240.png
  angelsindustries/graphics/icons/plutonium-239.png
  angelsindustries/graphics/icons/plutonium-fuel-cell.png
  angelsindustries/graphics/icons/plutonium-fuel.png
  angelsindustries/graphics/icons/reprocessing_arrow.png
  angelsindustries/graphics/icons/thorium-232.png
  angelsindustries/graphics/icons/thorium-fuel-cell.png
  angelsindustries/graphics/icons/thorium-fuel.png
  angelsindustries/graphics/icons/uranium-234-fuel-cell.png
  angelsindustries/graphics/icons/uranium-234.png
  angelsindustries/graphics/icons/uranium-235.png
  angelsindustries/graphics/icons/uranium-238.png
  angelsindustries/graphics/icons/uranium-fuel-cell.png
  angelsindustries/graphics/icons/used-up-deuterium-fuel-cell.png
  angelsindustries/graphics/icons/used-up-plutonium-fuel-cell.png
  angelsindustries/graphics/icons/used-up-thorium-fuel-cell.png
  angelsindustries/graphics/icons/used-up-uranium-fuel-cell.png
  angelsindustries/graphics/technology/deuterium-fuel-processing-arrow.png
  angelsindustries/graphics/technology/deuterium-fuel-processing-cell.png
  angelsindustries/graphics/technology/plutonium-processing.png
  angelsindustries/graphics/technology/thorium-processing.png
  angelsindustries/info.json
  angelsindustries/locale/en/logistic.cfg
  angelsindustries/locale/en/nuclear-power.cfg
  angelsindustries/migrations/angelsindustries_0.4.1.lua
  angelsindustries/prototypes/angels-industries-category.lua
  angelsindustries/prototypes/angels-industries-override-ordening.lua
  angelsindustries/prototypes/angels-industries-override.lua
  angelsindustries/prototypes/angels-industries-triggers.lua
  angelsindustries/prototypes/buildings/centrifuge.lua
  angelsindustries/prototypes/items/overhaul-nuclear-power.lua
  angelsindustries/prototypes/overrides/overhaul-nuclear-power.lua
  angelsindustries/prototypes/recipes/overhaul-nuclear-power.lua
  angelsindustries/prototypes/technology/overhaul-nuclear-power.lua
  angelspetrochem/changelog.txt
  angelspetrochem/prototypes/petrochem-override.lua
  angelsrefining/changelog.txt
  angelsrefining/data.lua
  angelsrefining/prototypes/angels-functions.lua
  angelsrefining/prototypes/override/refining-override-sorting.lua
  angelssmelting/data.lua
  angelssmelting/graphics/icons/ore-thorium.png
  angelssmelting/info.json
  angelssmelting/locale/en/smelting.cfg
  angelssmelting/prototypes/items/angels-thorium.lua
  angelssmelting/prototypes/override/smelting-override-thorium.lua
  angelssmelting/prototypes/smelting-override.lua
Labels: Angels Industries, Enhancement

#217 Industries script updates
  angelsindustries/data.lua
  angelsindustries/info.json
  angelsindustries/prototypes/overrides/industries-override-functions.lua
  angelsindustries/prototypes/overrides/replacement-fallbacks.lua
Labels: Angels Industries, Angels Lib, Enhancement

#223 Garden update
  angelsbioprocessing/changelog.txt
  angelsbioprocessing/graphics/icons/solid-alienated-fertilizer.png
  angelsbioprocessing/locale/en/bio-processing.cfg
  angelsbioprocessing/prototypes/bio-processing-category.lua
  angelsbioprocessing/prototypes/buildings/crop-farm.lua
  angelsbioprocessing/prototypes/items/bio-refugium-biter.lua
  angelsbioprocessing/prototypes/items/crop-farming-vegetables.lua
  angelsbioprocessing/prototypes/recipes/bio-processing-alien.lua
  angelsbioprocessing/prototypes/recipes/bio-processing-wood.lua
  angelsbioprocessing/prototypes/recipes/bio-refugium-fish.lua
  angelsbioprocessing/prototypes/recipes/crop-farming-gardens.lua
  angelsbioprocessing/prototypes/recipes/crop-farming-processing-nutrients.lua
  angelsbioprocessing/prototypes/recipes/crop-farming-processing-vegetable-oil.lua
  angelsbioprocessing/prototypes/recipes/crop-farming-processing-vegetables.lua
  angelsbioprocessing/prototypes/technology/bio-processing-alien.lua
  angelsbioprocessing/prototypes/technology/bio-processing-wood-paper.lua
  angelsbioprocessing/prototypes/technology/crop-farming.lua
Labels: Angels Bio Processing, Enhancement

#239 Issue #232: Force barreling temp at 25 degrees
  angelspetrochem/changelog.txt
  angelspetrochem/info.json
  angelspetrochem/prototypes/items/petrochem-basics.lua
  angelspetrochem/prototypes/petrochem-override.lua
  angelsrefining/prototypes/override-functions.lua
Labels: Angels Petrochem, Bug

#251 MK consistency for tiered machines
  angelsbioprocessing/locale/en/bio-processing.cfg
  angelsindustries/locale/en/logistic.cfg
  angelsindustries/locale/en/science.cfg
  angelspetrochem/locale/en/petrochem.cfg
  angelsrefining/locale/en/ore-refining.cfg
  angelsrefining/locale/en/water-treatment.cfg
  angelssmelting/locale/en/smelting.cfg
Labels: Enhancement
