Repository Arch666Angel/mods, pull requests merged in 2021-04, with the labels that each got.

#569 Deactivate burner power phase overrides from Angel's petrochem
  angelspetrochem/prototypes/global-override/bobtech.lua
Labels: Angels Petrochem, Impact: Enhancement

#574 fix for induction furnace fluid boxes
  angelssmelting/prototypes/buildings/induction-furnace.lua
Labels: Angels Smelting, Impact: Enhancement

#559 Adjust starting items for Bob's characters
  angelsrefining/changelog.txt
  angelsrefining/control.lua
Labels: Angels Industries (Component mode), Impact: Mod compatibility

#576 deactivate walk of shred by default
  angelsaddons-shred/changelog.txt
  angelsaddons-shred/info.json
  angelsaddons-shred/settings.lua
Labels: Angels Addon, Impact: Enhancement

#544 draft patch to AAII/Component mode
  angelsindustries/data-final-fixes.lua
  angelsindustries/prototypes/overrides/components-angels-entity-update/components-angels-building-final-fixes.lua
  angelsindustries/prototypes/overrides/components-entity-update.lua
Labels: Angels Industries (Component mode), Impact: Mod compatibility

#561 AB compatibility Testing
  angelspetrochem/prototypes/recipes/petrochem-nitrogen.lua
  angelsrefining/changelog.txt
  angelssmelting/changelog.txt
  angelssmelting/locale/en/smelting.cfg
  angelssmelting/prototypes/override/smelting-override-alloy-support.lua
  angelssmelting/prototypes/override/smelting-override-tungsten.lua
  angelssmelting/prototypes/smelting-override.lua
  angelssmelting/settings-updates.lua
Labels: Impact: Enhancement, Impact: Mod compatibility
