Repository Arch666Angel/mods, pull requests merged in 2021-12, with the labels that each got.

#726 Sodium Perchlorate Prerequisites
  angelspetrochem/changelog.txt
  angelspetrochem/prototypes/global-override/bobrevamp.lua
  angelspetrochem/prototypes/technology/petrochem-basic-chemistry.lua
  angelspetrochem/prototypes/technology/petrochem-weaponary.lua
Labels: Impact: Bug, Angels Petrochem

#612 Gathering turret
  angelsexploration/changelog.txt
  angelsexploration/control.lua
  angelsexploration/data.lua
  angelsexploration/graphics/entity/gathering-turret/gathering-turret-shooting-light.png
  angelsexploration/graphics/entity/gathering-turret/hr-gathering-turret-shooting-light.png
  angelsexploration/graphics/icons/gathering-turret.png
  angelsexploration/graphics/technology/gathering-turret-speed.png
  angelsexploration/graphics/technology/gathering-turret-target.png
  angelsexploration/graphics/technology/gathering-turret.png
  angelsexploration/locale/en/exploration.cfg
  angelsexploration/prototypes/entities/gathering-turret-builder.lua
  angelsexploration/prototypes/entities/gathering-turret.lua
  angelsexploration/prototypes/exploration-category.lua
  angelsexploration/prototypes/exploration-override.lua
  angelsexploration/prototypes/overrides/gathering-turret-updates.lua
  angelsexploration/prototypes/recipes/turret.lua
  angelsexploration/prototypes/technology/exploration-technology.lua
  angelsexploration/src/gathering-turret.lua
  angelsexploration/src/mod-config.lua
Labels: Impact: Enhancement, Angels Exploration

#693 Metal catalysts
  angelsbioprocessing/changelog.txt
  angelsbioprocessing/prototypes/recipes/crop-farming-processing-fermentation.lua
  angelspetrochem/changelog.txt
  angelspetrochem/prototypes/recipes/petrochem-nitrogen.lua
Labels: Impact: Enhancement, Angels Petrochem
