Repository Arch666Angel/mods, pull requests merged in 2022-11, with the labels that each got.

#859 Fixed on_player_main_inventory_changed error
  angelsbioprocessing/changelog.txt
  angelsbioprocessing/control.lua
Labels: Impact: Bug, Angels Bio Processing

#861 Liquefier vs chemical plant
  angelsbioprocessing/changelog.txt
  angelsbioprocessing/prototypes/recipes/crop-farming-processing-fermentation.lua
  angelsindustries/changelog.txt
  angelsindustries/prototypes/recipes/overhaul-nuclear-power.lua
  angelspetrochem/changelog.txt
  angelspetrochem/prototypes/override/base-game.lua
  angelspetrochem/prototypes/recipes/petrochem-chlorine.lua
  angelspetrochem/prototypes/recipes/petrochem-nitrogen.lua
  angelspetrochem/prototypes/recipes/petrochem-sodium.lua
  angelspetrochem/prototypes/recipes/petrochem-solids.lua
  angelspetrochem/prototypes/recipes/petrochem-sulfur.lua
Labels: Impact: Enhancement, Angels Petrochem

#853 add airfilter 3
  angelspetrochem/changelog.txt
  angelspetrochem/locale/en/petrochem.cfg
  angelspetrochem/prototypes/buildings/air-filter.lua
  angelspetrochem/prototypes/recipes/petrochem-entity-angels.lua
  angelspetrochem/prototypes/recipes/petrochem-entity.lua
  angelspetrochem/prototypes/technology/petrochem-basic-chemistry.lua
  angelsrefining/prototypes/recipe-builder-fallbacks.lua
Labels: Impact: Enhancement, Angels Petrochem

#857 Unnecessary fluid properties
  angelsbioprocessing/prototypes/items/bio-processing-alien.lua
  angelsbioprocessing/prototypes/items/bio-processing-wood-paper.lua
  angelsbioprocessing/prototypes/items/bio-refugium-fish.lua
  angelsbioprocessing/prototypes/items/bio-refugium-puffer.lua
  angelsbioprocessing/prototypes/items/crop-farming-processing.lua
  angelsindustries/prototypes/items/components-batteries.lua
  angelsindustries/prototypes/recipes/components-mechanical-recipes.lua
  angelspetrochem/prototypes/items/petrochem-basics.lua
  angelspetrochem/prototypes/items/petrochem-carbons.lua
  angelspetrochem/prototypes/items/petrochem-chlorine.lua
  angelspetrochem/prototypes/items/petrochem-nitrogen.lua
  angelspetrochem/prototypes/items/petrochem-raws.lua
  angelspetrochem/prototypes/items/petrochem-solids.lua
  angelspetrochem/prototypes/items/petrochem-sulfur.lua
  angelsrefining/prototypes/items/refining-items.lua
  angelsrefining/prototypes/items/refining-ores.lua
  angelsrefining/prototypes/items/water-treatment-items.lua
  angelssmelting/prototypes/items/angels-gold.lua
  angelssmelting/prototypes/items/angels-lead.lua
  angelssmelting/prototypes/items/angels-platinum.lua
  angelssmelting/prototypes/items/angels-silicon.lua
  angelssmelting/prototypes/items/angels-stone.lua
  angelssmelting/prototypes/items/angels-support.lua
  angelssmelting/prototypes/items/angels-titanium.lua
  angelssmelting/prototypes/items/angels-tungsten.lua
  angelssmelting/prototypes/override/smelting-override-alloy-brass.lua
  angelssmelting/prototypes/override/smelting-override-alloy-bronze.lua
  angelssmelting/prototypes/override/smelting-override-alloy-cobalt-steel.lua
  angelssmelting/prototypes/override/smelting-override-alloy-gunmetal.lua
  angelssmelting/prototypes/override/smelting-override-alloy-invar.lua
  angelssmelting/prototypes/override/smelting-override-alloy-nitinol.lua
  angelssmelting/prototypes/recipes/smelting-alloy-solder.lua
  angelssmelting/prototypes/recipes/smelting-alloy-steel.lua
  angelssmelting/prototypes/recipes/smelting-aluminium.lua
  angelssmelting/prototypes/recipes/smelting-chrome.lua
  angelssmelting/prototypes/recipes/smelting-cobalt.lua
  angelssmelting/prototypes/recipes/smelting-copper.lua
  angelssmelting/prototypes/recipes/smelting-gold.lua
  angelssmelting/prototypes/recipes/smelting-iron.lua
  angelssmelting/prototypes/recipes/smelting-lead.lua
  angelssmelting/prototypes/recipes/smelting-manganese.lua
  angelssmelting/prototypes/recipes/smelting-nickel.lua
  angelssmelting/prototypes/recipes/smelting-platinum.lua
  angelssmelting/prototypes/recipes/smelting-silver.lua
  angelssmelting/prototypes/recipes/smelting-support.lua
  angelssmelting/prototypes/recipes/smelting-tin.lua
  angelssmelting/prototypes/recipes/smelting-titanium.lua
  angelssmelting/prototypes/recipes/smelting-zinc.lua
Labels: Impact: Enhancement

#854 Rework petrochem
  angelsbioprocessing/changelog.txt
  angelspetrochem/changelog.txt
  angelspetrochem/prototypes/buildings/advanced-chemical-plant.lua
  angelspetrochem/prototypes/buildings/chemical-plant.lua
  angelspetrochem/prototypes/global-override/base-game.lua
  angelspetrochem/prototypes/global-override/bobassembly.lua
  angelspetrochem/prototypes/override/angelsrefining.lua
  angelspetrochem/prototypes/override/base-game.lua
  angelsrefining/prototypes/override/refining-override-buildings.lua
  angelsrefining/prototypes/refining-override.lua
Labels: Impact: Enhancement, Angels Petrochem
