Repository Arch666Angel/mods, pull requests merged in 2022-12, with the labels that each got.

#871 Missing prerequisites
  angelsdev-unit-test/python/unit_test_configuration.py
  angelspetrochem/data.lua
  angelsrefining/prototypes/override/refining-override-bobplates.lua
  angelssmelting/prototypes/technology/smelting-glass.lua
  angelssmelting/prototypes/technology/smelting-support.lua
Labels: Angels Refining

#877 Remove references to removed Bob's setting
  angelssmelting/settings-updates.lua
Labels: Impact: Mod compatibility

#882 Nuclear overhaul tweaks
  angelsindustries/changelog.txt
  angelsindustries/prototypes/buildings/centrifuge.lua
  angelsindustries/prototypes/items/overhaul-nuclear-power.lua
  angelsindustries/prototypes/ordening/angels-power.lua
  angelsindustries/prototypes/overrides/global-tech-bobs-cores.lua
  angelsindustries/prototypes/overrides/overhaul-nuclear-power.lua
  angelsindustries/prototypes/recipes/overhaul-nuclear-power.lua
Labels: Impact: Enhancement, Angels Industries

#873 update heatpipe and heat-exchanger recipes
  angelsindustries/prototypes/ordening/angels-power.lua
  angelsindustries/prototypes/overrides/global-tech-bobs-cores.lua
  angelsindustries/prototypes/overrides/global-tech-bobs-packs.lua
  angelsrefining/prototypes/override/refining-override-bobplates.lua
  angelsrefining/prototypes/override/refining-override-bobpower.lua
Labels: Angels Industries, Status: On hold, Impact: Mod compatibility
