Repository Arch666Angel/mods, pull requests merged in 2023-08, with the labels that each got.

#922 Paper 2 tech changes
  angelsbioprocessing/changelog.txt
  angelsbioprocessing/data.lua
  angelsbioprocessing/info.json
  angelsbioprocessing/locale/en/bio-processing.cfg
  angelsbioprocessing/prototypes/overrides/bio-processing-override-arboretum.lua
  angelsbioprocessing/prototypes/recipes/bio-processing-paper.lua
  angelsbioprocessing/prototypes/technology/bio-processing-wood-paper.lua
  angelsindustries/info.json
  angelsindustries/prototypes/technology/components-batteries-technology.lua
  angelspetrochem/changelog.txt
  angelspetrochem/migrations/angelspetrochem_0.9.25.json
  angelspetrochem/migrations/angelspetrochem_0.9.25.lua
  angelspetrochem/prototypes/override/angelssmelting.lua
  angelspetrochem/prototypes/override/bobrevamp.lua
  angelspetrochem/prototypes/technology/petrochem-basic-chemistry.lua
  angelssmelting/info.json
  angelssmelting/prototypes/technology/smelting-aluminium.lua
  angelssmelting/prototypes/technology/smelting-chrome.lua
  angelssmelting/prototypes/technology/smelting-glass.lua
  angelssmelting/prototypes/technology/smelting-gold.lua
  angelssmelting/prototypes/technology/smelting-silver.lua
Labels: Impact: Enhancement, Angels Bio Processing

#921 Bob's Electronic Assembling Machines Recipe Categories
  angelsindustries/prototypes/ordening/angels-intermediates.lua
  angelsindustries/prototypes/overrides/components-block-update.lua
  angelsindustries/prototypes/overrides/components-bobs-recipe-update.lua
  angelssmelting/changelog.txt
  angelssmelting/prototypes/override/smelting-override-alloy-solder.lua
  angelssmelting/prototypes/override/smelting-override-copper.lua
  angelssmelting/prototypes/override/smelting-override-glass.lua
  angelssmelting/prototypes/override/smelting-override-gold.lua
  angelssmelting/prototypes/override/smelting-override-platinum.lua
  angelssmelting/prototypes/override/smelting-override-silver.lua
  angelssmelting/prototypes/override/smelting-override-tin.lua
Labels: Angels Smelting, Impact: Mod compatibility

#928 Gas triggers
  angelsbioprocessing/prototypes/bio-processing-triggers.lua
  angelsindustries/prototypes/overrides/global-tech-base-cores.lua
  angelsindustries/prototypes/overrides/global-tech-base-packs.lua
  angelspetrochem/changelog.txt
  angelspetrochem/data.lua
  angelspetrochem/prototypes/override/angelspetrochem.lua
Labels: Impact: Enhancement, Angels Petrochem

#923 Paper recipe rebalancing
  angelsbioprocessing/changelog.txt
  angelsbioprocessing/locale/en/bio-processing.cfg
  angelsbioprocessing/prototypes/recipes/bio-processing-paper.lua
  angelsbioprocessing/prototypes/technology/bio-processing-algae.lua
  angelsbioprocessing/prototypes/technology/bio-processing-wood-paper.lua
Labels: Impact: Enhancement, Angels Bio Processing

#929 Recipe productivity
  angelsindustries/prototypes/overrides/overhaul-nuclear-power.lua
  angelsrefining/changelog.txt
  angelsrefining/prototypes/refining-override.lua
  angelssmelting/changelog.txt
  angelssmelting/prototypes/override/smelting-override-productivity.lua
  angelssmelting/prototypes/recipes/smelting-glass.lua
Labels: Impact: Enhancement, Angels Smelting

#930 Ignore Thumbs.db
  .gitignore
  angelsindustries/graphics/entity/cargo-robot/Thumbs.db
  angelsinfiniteores/graphics/entity/ores/Thumbs.db
  angelsrefining/graphics/entity/ores/Thumbs.db
  angelsrefining/graphics/technology/Thumbs.db
Labels: Impact: Bug, Angels Lib
